/* ------------------------------------
   Recent Projects
*/
ul {
  list-style-type: none;
}

li {
  display: inline;
}

.row.recent-proj {
  margin-top: 50px;
}

.recent-proj .pics img {
  display: block;
  height: 250px;
  length: 450px;
  margin-right: auto;
  object-fit: contain;
}

.section {
  margin-top: 50px;
}

/* ------------------------------------
   GitHub Button
*/
.github-btn {
  margin-top: 50px;
}
